<h3>ระดับ</h3>
<Form [formGroup]="priorityFormGroup" (ngSubmit)="addPriorityOrEditPriority()">
    <div class="row m-2">
        <div class="col">
            ชื่อ:
            <input type="text" class="form-control" formControlName="priorityName">
        </div>
        <!-- <div class="col">
            ใช้งาน:
            <input type="text" class="form-control" formControlName="">
        </div> -->
    </div>
    <div class="row">
        <div class="text-center" *ngIf="mode =='add' || mode=='edit'">
            <button type="submit" class="btn btn-primary me-2">
                บันทึก
            </button>
            <a class="btn btn-secondary" (click)="back()">
                ย้อนกลับ
            </a>
        </div>
        <div class="text-center" *ngIf="mode =='view'">
            <a class="btn btn-warning me-2" (click)="editPriority()">
                แก้ไขข้อมูล
            </a>
            <a class="btn btn-secondary" (click)="back()">
                ย้อนกลับ
            </a>
        </div>
    </div>
</Form>